* {
    margin: 0; 
}

@media screen and (max-width: 600px){
     #navbar{
display: flex;
flex-direction: column;
}
}

#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#navbar il a{
    text-decoration: none;
    font-family: cursive;
    padding: 50px 60px;
    font-size: 30px;
    color: white;  
}

#mypic {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}


#hi{
    font-family: cursive;
    font-size: 50px;
    text-align: center;
    }

#first{
        margin: 0;
        padding: 0; 
        background-color: black;
        color: white;
        scroll-behavior: smooth;
        overflow:hidden;
    }

#WhoAmI {
    background-image: url(./img/Computer.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    scroll-behavior: smooth;

}

#aboutme {
    color: rgb(10, 7, 7); 
    font-size: 30px;
    font-family:cursive; 
    padding-left: 3%;
    padding-top: 2%;
}

#projectBox1{
    display: flex;
    flex-direction: row; 
    color:white; 
    margin: 20px;
    border: 5px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(247, 242, 242, 0.3);
    background-color: rgb(7, 5, 2);
    width: 70%;
    height: 30%;
  }
  #projectBox2{
    display: flex;
    flex-direction: row; 
    margin: 20px;
    border: 5px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(247, 242, 242, 0.3);
    background-color: rgb(7, 5, 2);
    width: 70%;
    height: 30%;
  }
  /* #projectBox3{
    display: flex;
    justify-content: center;
    flex-direction: row; 
    margin: 20px;
    border: 5px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(247, 242, 242, 0.3);
    background-color: rgb(7, 5, 2);
    width: 70%;

  }
  #projectBox4 {
    display: flex;
    justify-content: center;
    flex-direction: row; 
    margin: 20px;
    border: 5px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(247, 242, 242, 0.3);
    background-color: rgb(7, 5, 2);
    width: 70%;
  }  */

#MyProjects {
    background-image: url(./img/MyWork.jpg);
    height: 100vh;
    background-size: cover;
    color:white; 
    text-align:center; 
    font-size: 18px;
    font-family:cursive; 
    background-position: center;
}

#MyProjects h1 {
    padding-top: 1%;
}

#contactMe { 
    background-image: url(./img/pexels-fauxels-3184450.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    scroll-behavior: smooth;

}

#contact il a {
    display: flex; 
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    font-family: cursive;  
    text-decoration: none; 
    padding-top: 10%;
    padding-left: 50%;
    color:black; 
}

@media screen and (max-width: 600px){
    #navbar{
display: flex;
flex-direction: row;
}
}

.projectsImg{
    margin-left: auto;
    display: block;    
}